.admin {
    margin: 0;
    background-color:aliceblue;
    display: flex;
    
}

.container{
    margin: 0;
    flex-direction: column;
    background-color: azure;
    align-items: flex-start;
}

.first{
    margin: 0;
    flex-direction: column;
    width: 100%;
    
   
}

.vertical {
    padding: 25px;
    background-color: rgb(3, 7, 10);
    color: aliceblue;
    height: 800px;
    width: 200px;
    justify-content: center;
   align-content: normal;

}
#icon {
    padding: 2px;
    background-color: rgb(53, 60, 67);
   align-items: flex-start;
}

.dash-board{
    background-color: aliceblue;
}

.events {

    background-color: aliceblue;
}

.utilities {
    margin: 1px;
    gap: 5px;
    display: flex;
    justify-content: space-around;
    font-size:small;
    align-self: flex-start;

}

.utility {
    background-color: rgb(55, 161, 142);
    border-radius: 3px;
    align-self: flex-start;
    color: rgb(248, 249, 250);

}

